// Variables
@import "./commons/variables.scss";


* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body#darkMode {
    background-color: $background-color-darkMode;
    color: $background-color-whiteMode;
}

body#whiteMode {
    background-color: $background-color-whiteMode;
    color: black;

    #darkModeSwitcher {
        color: $background-color-darkMode;
        border: 1px solid $background-color-darkMode;
    }
    & .input {
        color: $background-color-darkMode;
    }
}

.calcHeader {
    height: 10vh;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .button {
        background-color: transparent;
        border: 1px solid white;
    }
}

.container {
    height: 80vh;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
    font-size: 20px;
    text-align: end;
    padding-right: 6px;
    background-color: transparent;
    border: 3px solid #333333;
    color: $background-color-whiteMode;
    height: 60px;
    width: 352px;
}

.userInputContainer {
    display: flex;
    align-items: center;

    & .input {
        border-right: transparent;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        width: 270px;
    }
}

.button {
    color: $background-color-whiteMode;
    background-color: $button-colors;
    margin: 3px;
    padding: 20px 36px;
    border: 2px solid black;
    border-radius: 3px;
    &:hover {
        cursor: pointer;
        background-color: $button-colors-hover;
    }
}

#clearButton {
    margin: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: $clear-button;
    border-color: #ff000080;
    &:hover {
        background-color: $clear-button-hover;
    }
}

.buttonsContainer {
    width: auto;
    height: auto;
    margin: 10px 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.pageFooter {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;

    & .heartIcon {
        color: $clear-button;
    }
}

#error {
    background-color: $clear-button;
    color: black;
}

#success {
    background-color: green;
    color: black;
}

@media (max-width: 431px) {
    .calcHeader {
        margin-top: 10px;
        
        #darkModeSwitcher {
            margin-left: 5px;
            width: auto;
            height: auto;
        }
    }

}
